// Imports
@import 'utilities';
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

// CSS RESET
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

input, button, textarea, select {
  font: inherit;
}

ol, ul {
	list-style: none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
}

// Project Start

body {
  min-height: 100vh;
  font-family: "Josefin Sans", sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  grid-auto-rows: auto;
  background-image: $color5;
  // @include device(tablet) {
  //   grid-template-columns: minmax(400px, 1fr) minmax(360px, auto);
  // }
}

.header {
  justify-self: center;
  @include device(desktop) {
    justify-self: start;
  
  }
}

.header__wrapper {
  max-width: 375px;
  margin: 0 auto;
  padding: 1.9375rem 0rem 2rem 2rem;
  @include device(tablet) {
    max-width: 189px;
    padding: 4.6875rem 0rem 3.3125rem 0rem;
  }
  @include device(desktop) {
    padding: 4.6875rem 0rem 8.5rem 10.3125rem;
  }
}


.header__logo {
  max-width: 8.25rem;
  @include device(tablet) {
  max-width: 11.8125rem; 
   }
}


.model {
  justify-self: center;
  margin-bottom: 4rem;
  @include device(tablet) {
    max-width: 25rem;
  }
  @include device(desktop) {
    grid-column: 2;
    grid-row: 1 / 4;
    max-width: initial;
    margin-bottom: initial;
  }
}

.container {
  text-align: center;
  max-width: 19.4375rem;
  justify-self: center;
  @include device(desktop) {
    max-width: 445px;
    text-align: left;
    justify-self: start;
    margin-left: 165px;
    margin-right: 50px;;
  }
}

.container__title {
  font-size: map-get($fonts, "$large2");
  letter-spacing: 10.83px;
  line-height: 1.05;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: $color2;
  font-weight: 600;
  @include device(desktop) {
    font-size: map-get($fonts, "$large3");
    margin-bottom: 32px;
  }
}

.title__detail {
  font-weight: 300;
  color: $color4;
}

.container__text {
  font-size: map-get($fonts, "$xsmall");
  line-height: 1.57;
  color: $color4;
  margin-bottom: 2rem;
  @include device(desktop) {
    font-size: map-get($fonts, "$small");
    margin-bottom: 2.5rem;
  }
}

.container__form {
  position: relative;
}

input[type="email"] {
  width: 100%;
  border-radius: 28px;
  border: 2px solid $color4;
  background-color: transparent;
  padding: 14px 0 14px 24px;
  &::placeholder {
    font-size: map-get($fonts, "$xsmall");
    color: $color4;
    line-height: 2;
    font-weight: 400;
    opacity: 0.5;
  }
  @include device(desktop) {
    padding: 18px 0 18px 24px;
  }
}

.form__btn {
  position: absolute;
  right: 0;
  top: 0;
  background-image: linear-gradient(to right, #F8BFBF, #EE8B8B);
  padding: 0.9375rem 1.75rem;
  border-radius: 28px;
  box-shadow: 0 15px 20px 0 rgba($color: #C66E6E, $alpha: 0.3);
  &:hover {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), linear-gradient(to right, #F8BFBF, #EE8B8B);
  }
  @include device(desktop) {
    padding: 1.125rem 2.75rem;
  }
}

.form__error-icon {
  position: absolute;
  top: 50%;
  right: 27%;
  transform: translate(-50%, -50%);
  display: none;
}

.form__error-text {
  color: #F96464;
  font-size: 0.8125rem;
  line-height: 2;
  text-align: left;
  padding-left: 2rem;
}

.sr-only {
 position: absolute !important;
 width: 1px !important;
 height: 1px !important;
 padding: 0 !important;
 margin: -1px !important;
 overflow: hidden !important;
 clip: rect(0, 0, 0, 0) !important;
 border: 0 !important;
}

